.div2 {
  display: block;
  position: relative;
  min-height: 100vh;
}

.div2::after {
  content: "";
  background: url(./assets/coins.jpg);
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}
