keystore "auction-contracts.keystore";

grant codeBase "file:/C:/Users/rubenandrebarreiro/git/CSDG6/CSDBftServer/bin/src/main/java/" {
  permission java.io.FilePermission "C:/Users/rubenandrebarreiro/git/CSDG6/CSDBftServer/bin/src/main/java/", "read,write";
};

grant signedBy "rubenandrebarreiro", codeBase "file:/C:/Users/rubenandrebarreiro/git/CSDG6/CSDBftServer/bin/src/main/java/smartContracts" {
  permission java.io.FilePermission "C:/Users/rubenandrebarreiro/git/CSDG6/CSDBftServer/bin/src/main/java/smartContracts/AuctionCreator.class", "read,write,execute";
};
